@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
    box-sizing: border-box;
    line-height: 1.8;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body * + * {
    margin-top: 1.5em;
}

html,
body {
    height: 100%;
    font-size: 1rem;
}

body {
    font-family: 'Comfortaa', cursive;
    background-color: #222831;
    color: #75daad;

    display: flex;
    flex-direction: column;
}

#content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/* 
    =====================================================================================================================================
                                                   PAGE NAVIGATION BAR STYLES 
    =====================================================================================================================================

*/
.main-header {
    display: flex;
    justify-content: space-between;

    padding-top: .3em;
    border-bottom: 2px dashed #84a9ac;
}

.main-header .nav-bar {
    margin-top: 0;
    display: flex;
}

.main-header .logo  {
    padding: 0;
}

.main-header p {
    margin: 0;
    font-size: 1.2rem;

    font-weight: 900;
}

.main-header .nav-bar {
    padding: 0;
}

.main-header .nav-bar > ul {
    margin: 0;
    list-style: none;
}

.main-header .nav-bar ul > li > a {
    text-decoration: none;
    color: inherit;

    display: inline-block;
    padding: 0 10px;
    margin: 0;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.main-header .nav-bar ul > li > a:hover {
    background-color: #75daad9a;
    transform: scale(1.2);
}

.main-header .nav-bar ul > li > a:active {
    transform: scale(1);
}

/* 
    =====================================================================================================================================
                                                    DOM GENERATED CONTENTS HOLDER STYLES
    =====================================================================================================================================

*/

#content {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

/* 
    =====================================================================================================================================
                                                    DOM GENERATED MENU-TAB STYLES
    =====================================================================================================================================

*/
.menu-container {
    width: 73%;
 }
 
 .menu-header {
     text-align: center;
     line-height: .5;
     border-bottom: 2px solid;
 }
 
 .menu-text p {
     text-align: center;
     margin: 0;
 }
 
 .menu-text .menu-grid {
     display: grid;
 
     grid-template-columns: repeat(3, 1fr);  
 
     gap: 2em;
 }
 
 .menu-text .menu-grid .menu-item {
     margin-top: 0;
     border-bottom: 2px solid;

     box-shadow: 0 1px 3px rgba(125, 194, 69, 0.12), 0 1px 2px rgba(123, 199, 52, 0.24);
     transition: all 0.3s cubic-bezier(.25,.8,.25,1);
 }

 .menu-text .menu-grid .menu-item:hover {
    box-shadow: 0px 10px 20px rgba(91, 218, 41, 0.19), 0px 16px 25px rgba(95, 192, 39, 0.23);
 }

 .menu-text .menu-grid .menu-item img {
     width: 300px;
     height: 250px;

     border-radius: .5em;
 }

 /* 
    =====================================================================================================================================
                                                    DOM GENERATED CONTACT-TAB STYLES
    =====================================================================================================================================

*/

.contact-container {
    box-shadow: 0 0px 10px rgba(133, 199, 46, 0.19), 0 6px 6px rgba(133, 199, 46, 0.23);
}

.contact-container,
.contact-container article {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.contact-container header {
    text-align: center;
    line-height: .5;
}

.contact-container p {
    margin: 0;
}